.par-1 {
  color: rgb(255, 255, 255);
  background-color: rgb(12, 12, 53);
  text-align: center;
  height: 70px;
}
.prop {
  background-color: mediumspringgreen;
  height: 50px;
}
.rob {
  background-color: rgb(182, 238, 220);
}
