.par-1 {
  color: rgb(255, 255, 255);
  background-color: rgb(12, 12, 53);
  text-align: center;
  height: 70px;
}
.twix {
  background-color: mediumspringgreen;
  height: 50px;
}
.dom {
  background-color: lightgreen;
}
.domik {
  background-color: darkgray;
}
.domich {
  background-color: burlywood;
}
